/* font-family: 'Dancing Script', cursive;
font-family: 'Montserrat', sans-serif;
font-family: 'Roboto', sans-serif; 
font-family: 'Oswald', sans-serif; */

.navbar-toggler {
    border: none!important;
}

.navbar-light .navbar-toggler-icon {
    background-image: url("https://static.wixstatic.com/media/45d10e_9d91902d09d84498aa49f9bf83b8c824~mv2_d_1602_2457_s_2.gif")!important;
}

.brandarea {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 135px;
}

nav {
    min-height: 129px!important;
    box-sizing: border-box!important;
}

.collapse {
    justify-content: flex-end!important;
    height: 120px!important;
    align-items: flex-start;

}

.navbar-collapse ul li {
    margin-left: 60px;
}

.brandarea svg {
    margin: auto;
}

.brandarea a {
    margin: auto!important;
    color: #e8e6e6!important;
    font-size: 17px;
    font-family: 'Oswald', sans-serif;
    letter-spacing: 3px;
    font-weight: 200;
}

header {
    background: transparent!important;
    position: fixed;
    z-index: 10;
    width: 100%;
}

.active .nav-link {
    color: #10846f!important;
}

.navbar-nav .nav-link {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 600;
    transition-duration: 0.3s!important;
    padding: 8px 0px!important;
}

.navbar-nav .hover-different:hover {
    color: #10846f!important;
}

.color-different {
    color: #e8e6e6!important;
}

.btn-green {
    background-color: #10846f!important;
    color: white!important;
    width: 156px;
    height: 41px;
    font-weight: 400!important;
    margin-right: 20px;
    text-align: center;
    padding: 10px 0px!important;
    letter-spacing: 0px;
}

.btn-green:hover {
    background-color: white!important;
    color: #10846f!important;
}

.bannerarea{
    background-repeat: no-repeat;
    background-image: url("https://static.wixstatic.com/media/84770f_2f0fbc24c82448d7b19dbfdf38d8b049~mv2_d_4752_3168_s_4_2.jpg/v1/fill/w_1903,h_964,al_c,q_85,usm_0.66_1.00_0.01/84770f_2f0fbc24c82448d7b19dbfdf38d8b049~mv2_d_4752_3168_s_4_2.webp");
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 920px;
    height: 920px;
}

.bannertitle {
    font-size: 176px;
    font-weight: 600;
    font-family: 'Dancing Script', cursive;
    color: white;
    transform: rotate(350deg);
    letter-spacing: 5px;
}

.bannercontent {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.1);
}

.bannertext {
    color: white;
    font-size: 24px;
    font-weight: 600;
    font-family: 'Roboto', sans-serif;
    margin-top: 15px;
    letter-spacing: 3px;
}

.bannercontent .secondbannertext {
    color: white;
    font-size: 19px;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
}


.positionimages {
    background-color: rgb(255 189 20);
    max-height: 820px;
    height: 820px;
    position: relative;
}

.backgroundimage {
    width: 431px;
    height: 570px;
    position: absolute;
    right: 915px;
    top: 115px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.positionimagecontent {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 412px;
    width: 620px;
    background-color: white;
    padding: 0px 20px 0px 60px;
    box-sizing: border-box;
    position: absolute;
    top: 195px;
    right: 640px;
}

.gverdigverd {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 215px;
    width: 100%;
}

.positionleft {
    width: 50%;
    border-right: solid 3px rgba(16 ,132 ,111 ,0.7);
    height: 100%;
    color: #10846f;
    display: flex;
    align-items: center;
    box-sizing: border-box;
}

.lefttext {
    width: 200px;
}

.positionright {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.positionright a {
    color: #10846f;
    width: 141px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 1px #10846f;
    transition-duration: 0.3s;
}

.positionright a:hover {
    color: #fff;
    background-color: #10846f;
    text-decoration: none!important;
}

.positionimagetitle {
    font-size: 30px;
    transform: rotate(350deg);
    font-family: 'Dancing Script', cursive;
    font-weight: 700;
    color: #10846f;
}

.svguna {
    position: absolute;
    
    right: 560px;
    top: 240px;
    z-index: 1;
}

.sidebar ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: 0px;
    padding: 0px;
    height: 200px;

}

.sidebar {
    position: fixed;
    right: 20px;
    top: 295px;
    display: flex;
    justify-content: flex-start;
    width: 40px;
}

.sidebar ul li a {
    color: white;
    font-size: 16px;
    
}